.nav{
  max-width: 1296px;
  margin:0 auto;
  padding: 0 12px;
  display: flex;
  justify-content: space-between;
  .logo-white-img{
    width: 80px;
    height: 49px;
    margin-top: 12px;
    margin-bottom: 12px;
  }
  a{
    color:#fff;
    text-decoration: none;
    display: block;
  }
  a:hover{
    color:red;
  }
  .menu-list{
    display: flex;;
    justify-content: space-between;
    align-items: center; 
    li {
      font-size: 20px;
      color: #fff;
      margin-right: 64px;
      line-height: 1.2;
    }
    li:last-child {
      margin-right: 0;
    }
  }
}
@media (max-width: 992px)
  {
    .nav{
      padding:0px 30px;
    }
  }
  @media (max-width: 768px)
  {
    .nav{
      padding:0px 15px;
      flex-direction: column;   
      padding: 0px;
      .logo-white-img{
        margin-left: 15px;
      }
      a{
        font-size: 16px;
      }
      .menu-list{
        flex-wrap: wrap;
        align-items: center;
        text-align: center; 
        width: 100%;
        li {
          margin-right: 0px;          
          border-top: 1px solid #fff;
          text-align: center;
          width: 50%;
          padding: 12px 0;
        }
        li:nth-child(odd) {
          border-right: 1px solid #fff;
        } 
      }
    }
  }
